{% extends 'base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block body %}
    <h1>Proveedores</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td>{{ provider.id }}</td>
                <td>{{ provider.name }}</td>
                <td>
                    <a href="{{ path('provider_show', {'id': provider.id}) }}">Mostrar</a>
                    <a href="{{ path('provider_edit', {'id': provider.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No proveedores encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('provider_new') }}">Crear nuevo</a>
{% endblock %}